.bull-and-cow-form {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bull-and-cow-form-content {
    position: relative;
    z-index: 1;
    background-color: lightyellow; /* add this line */
    padding: 20px;
}

.bull-and-cow-form-img {
    max-height: 100%;
    max-width: 100%;
}

.bull-and-cow-form-select {
    flex-basis: 25%;
}

.bull-and-cow-form-background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/bulls.png");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
    z-index: 0;
}

.table-bordered {
    background-color: white;
}

.bulls-and-cows-win-header {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

.bulls-and-cows-win-form {
    margin-top: 20px;
}

.bulls-and-cows-win-input {
    width: 100%;
    max-width: 400px;
}

.bulls-and-cows-win-submit {
    margin-top: 10px;
}

.card {
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}